@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import "swiper/swiper.min.css";
@import "swiper/swiper-bundle.min.css";

:root {
  --main-color: #E0698D;
  --main-color-darker: #A85B6D;
  --main-dark: #0D3A5C;
  --main-light: #DAEAF5;
  --cursive-font: 'Dancing Script', cursive;
}

.newflare-brand {
  text-decoration: none;
  font-weight: 600;
  color: var( --main-color );
}

.custom-brand-letter {
  color: var( --main-color );
  font-family: var( --cursive-font );
  text-transform: capitalize;
}

.custom-text-pink {
  color: var( --main-color );
}

.custom-bg-pink {
  background: var( --main-color );
}

.custom-btn-pink {
  background-color: var( --main-color );
  border-color: var( --main-color );
  color: white;
}

.custom-btn-pink:hover {
  background-color: var( --main-color-darker );
  border-color: var( --main-color-darker );
  color: white;
}

.custom-btn-pink:disabled,
.custom-btn-pink[disabled] {
  border-color: #DB8C9F;
  background-color: #DB8C9F;
  color: white;
}

.custom-btn-outline-pink {
  background-color: transparent;
  border-color: var( --main-color );
  color: var( --main-color );
}

.custom-btn-outline-pink:disabled,
.custom-btn-outline-pink[disabled] {
  background-color: transparent;
  border-color: var( --main-color );
  color: var( --main-color );
}

.custom-btn-outline-pink:hover {
  background-color: var( --main-color );
  border-color: var( --main-color );
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-input:focus {
  border-color: var( --main-color );
}

.title-section {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-top: 30px;
  max-width: 100%;
  margin-bottom: 60px;
}

.title-section h2 {
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 0px;
  position: relative;
}

.title-section h2::before {
  content: '';
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: var( --main-color );
} 

.title-section h2::after {
  content: '';
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0px;
  margin-top: 8px;
  background-color: var( --main-color );
} 


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-item {
  display: block;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.swiper-container {
  width: 100%;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var( --main-color );
}

.item-description {
  background-color: rgba( 0, 0, 0, 0.3 );
  bottom: 0;
  padding: 5px 30px;
  position: absolute;
  width: 100%;
}

.item-description h3 {
  color: #f2f0ef;
}

.item-description p {
  color: rgba( 255, 255, 255, 0.8 );
}
